* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  background-color: rgb(0, 0, 0);
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body,
html {
  height: 100%;
  margin: 0;
}
/* ..................................Header........................................ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #222222;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo a img {
  height: 40px;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.menu {
  position: absolute;
  top: 80px;
  right: -300px;
  width: 150px;
  background-color: #222222;
  transition: 0.3s;
}

.menu ul {
  list-style: none;
  padding: 20px;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.content {
  margin-top: 100px;
  padding: 20px;
  color: #ffffff;
}
.show-menu .menu {
  right: 0px;
}
/* ..................................Index......................................... */
.mainh1 {
  color: white;
  font-family: good-times, sans-serif;
  font-style: normal;
  font-weight: 200;
  text-align: center;
  margin-top: 80%;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sebschyb {
  font-size: 1.2rem;
}
#porto {
  font-size: 2.8rem;
}
@media (min-width: 750px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  .mainh1 {
    color: white;
    font-family: good-times, sans-serif;
    font-style: normal;
    font-weight: 200;
    text-align: center;
    margin-top: 25%;
  }
  #sebschyb {
    font-size: 2.8rem;
  }
  #porto {
    font-size: 6rem;
  }
}
/* ..................................Portofolie....................................... */
.temaparent h2 {
  color: white;
  font-family: "area-extended", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 5px;
}
.temaparent h3 {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 5px;
}
.temaparent p {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 5px;
  padding-bottom: 5px;
}
.temaparent img {
  margin: 20px;
  width: 90%;
  height: auto;
}
.portoh1 {
  color: white;
  font-family: good-times, sans-serif;
  font-style: normal;
  font-weight: 200;
  text-align: center;
  margin-top: 30%;
  margin-bottom: 20%;
}

#porto2 {
  font-size: 2.8rem;
}
/* ..................................Tema1....................................... */
.tema1 {
  background-color: #222222;
  margin: 10px;
}
.tema1parent p {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
.tema1parent iframe {
  width: 100%;
  height: auto;
  display: block;
}
.tema1parent img {
  width: 100%;
  height: auto;
  display: block;
  padding: 20px;
}

/* ..................................Tema2....................................... */
.tema2 {
  background-color: #000000;
  margin: 10px;
}
.tema2parent p {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
.tema2parent img {
  width: 100%;
  height: auto;
  display: block;
  padding: 20px;
}
.tema2parent h2 {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
.tema2parent h3 {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}

/* ..................................Tema3....................................... */
.tema3 {
  background-color: #222222;
  margin: 10px;
}
.tema3parent p {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
.tema3parent img {
  width: 100%;
  height: auto;
  display: block;
  padding: 20px;
}
.tema3parent h2 {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
.tema3parent h3 {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
/* ..................................Tema4....................................... */
.tema4 {
  background-color: #000000;
  margin: 10px;
}
.tema4parent p {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
.tema4parent img {
  width: 100%;
  height: auto;
  display: block;
  padding: 20px;
}
.tema4parent h2 {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
.tema4parent h3 {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
.tema4parent iframe {
  width: 100%;
  height: auto;
}
/* ..................................Tema5....................................... */
.tema5 {
  background-color: #222222;
  margin: 10px;
}
.tema5parent p {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
.tema5parent img {
  width: 100%;
  height: auto;
  display: block;
  padding: 20px;
}
.tema5parent h2 {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
.tema5parent h3 {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
/* ..................................Tema6....................................... */
.tema6 {
  background-color: #000000;
  margin: 10px;
}
.tema6parent p {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
.tema6parent img {
  width: 100%;
  height: auto;
  display: block;
  padding: 20px;
}
.tema6parent h2 {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
.tema6parent h3 {
  color: white;
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
}
/* .................................mere-header............................... */
@media (min-width: 750px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  .portoh1 {
    color: white;
    font-family: good-times, sans-serif;
    font-style: normal;
    font-weight: 200;
    text-align: center;
    margin-top: 20%;
  }
  #porto2 {
    font-size: 6rem;
  }
  .mobil-header {
    display: none;
  }
  .wide-header {
    background-color: #222;
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 350px;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    margin: 10px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /* ..................layout..................... */
  .tema1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div4 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div5 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div6 {
    grid-area: 4 / 2 / 5 / 3;
  }
  .tema2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .tema3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .tema4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .tema5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .tema6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .tema2parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1-2 {
    grid-area: 1 / 1 / 2 / 4;
  }
  .div2-2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3-2 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4-2 {
    grid-area: 3 / 2 / 4 / 4;
  }
  .div5-2 {
    grid-area: 4 / 3 / 5 / 4;
  }
  .div6-2 {
    grid-area: 5 / 3 / 6 / 4;
  }
  .div7-2 {
    grid-area: 5 / 1 / 6 / 3;
  }
  .div8-2 {
    grid-area: 6 / 1 / 7 / 4;
  }
  .div9-2 {
    grid-area: 7 / 1 / 8 / 2;
  }
  .div10-2 {
    grid-area: 7 / 2 / 8 / 3;
  }
  .div11-2 {
    grid-area: 7 / 3 / 8 / 4;
  }
  .tema3parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1-3 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2-3 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3-3 {
    grid-area: 2 / 1 / 4 / 2;
  }
  .div4-3 {
    grid-area: 2 / 2 / 4 / 3;
  }
  .div5-3 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div6-3 {
    grid-area: 4 / 2 / 5 / 3;
  }
  .div7-3 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .div8-3 {
    grid-area: 5 / 2 / 6 / 3;
  }
  .tema4parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1-4 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2-4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3-4 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div4-4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div5-4 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div6-4 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .tema5parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1-5 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .div2-5 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3-5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4-5 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .div5-5 {
    grid-area: 4 / 1 / 5 / 3;
  }
  .div6-5 {
    grid-area: 5 / 1 / 6 / 3;
  }
  .div7-5 {
    grid-area: 6 / 1 / 8 / 2;
  }
  .div8-5 {
    grid-area: 6 / 2 / 7 / 3;
  }
  .div9-5 {
    grid-area: 7 / 2 / 8 / 3;
  }
  .tema6parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1-6 {
    grid-area: 1 / 1 / 3 / 2;
  }
  .div2-6 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3-6 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .div4-6 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div5-6 {
    grid-area: 2 / 3 / 3 / 4;
  }
  .div6-6 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div7-6 {
    grid-area: 3 / 2 / 4 / 4;
  }
  .div8-6 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div9-6 {
    grid-area: 4 / 2 / 5 / 4;
  }
}
@media (max-width: 750px) {
  .wide-header {
    display: none;
  }
}
